$dark-background: #000;
$light-background: #fff;
$gray-background: #2c2c2c;

$dark-shadow: rgba(255, 253, 253, 0.1);

$light-text: #fff;
$dark-text: #000;

$light-gray: #ccc;

$yellow-orche: #f2a519;
$contrast-red: #ba181b;