$dark-background: #000;
$light-background: #fff;
$gray-background: #2c2c2c;

$dark-shadow: rgba(255, 253, 253, 0.1);

$light-text: #fff;
$dark-text: #000;

$light-gray: #ccc;

$yellow-orche: #f2a519;
$contrast-red: #ba181b;

$xlg:1440px;
$lg:1200px;
$header-menu:1064px;
$xm:1024px;
$md:992px;
$sm:767px;
$asm:640px;
$axs:635px;
$axsm:540px;
$xs:480px;
$xxs:420px;

$table-cell-padding-x: 0.75rem !default;
$table-cell-padding-y: 0.75rem !default;